<div class="SkriftImagePicker" ng-controller="Skrift.ImagePickerGridEditor.Controller">
    
    <div>
        <div class="option">
            <span>Image</span>
            <div class="image" ng-if="image">
                <img ng-src="{{imageUrl}}" alt="" /><br />
                <a href="#" class="remove" ng-click="removeImage()" prevent-default><i class="icon icon-delete"></i></a>
            </div>
            <div class="image" ng-if="!image">
                <a href="#" class="usky-editor-placeholder" ng-click="selectImage()" prevent-default>
                    <div style="padding-top: 40px; text-align: center;">
                        <i class="icon icon-picture" style="font-size: 22px;"></i><br />
                        Select image
                    </div>
                </a>
            </div>
        </div>

        <label class="option">
            <span>Title</span><br />
            <input type="text" ng-model="control.value.title" placeholder="{{cfg.title.placeholder}}" ng-required="cfg.title.required"/>
        </label>
    
        <label class="option">
            <span>Description</span><br />
            <textarea type="text" ng-model="control.value.description" placeholder="{{cfg.description.placeholder}}" rows="{{cfg.description.rows}}" ng-required="cfg.description.required"></textarea>
        </label>
    </div>
    
    <umb-overlay ng-if="mediaPickerOverlay.show" model="mediaPickerOverlay" position="right" view="mediaPickerOverlay.view"></umb-overlay>

</div>